form {border: 0px solid #f1f1f1;}
            
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    /*background-color: #07A84C;*/
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button.main_button {
    color: white;
    font-weight: bold;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.btnlogout {
    float:right;
    width:180px;
    margin-top:20px;
    margin-right:0px;
    border:1px solid #000;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 30%;
    border-radius: 50%;
}
img.avatar_activities {
    cursor: pointer;
    width: 80px;
    border-radius: 0%;
}
img.icon {
    width: 25px;
    cursor: pointer;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

#toast-container > .toast {
    width: 1200px;
}
.toast-container {
    width: 700px;
}
.toast {
    width: 700px;
    margin: auto;
    display: none;
}

.toast-header {
    width: 700px;
    font-weight: bold;
    font-size: 17px;
}

.toast-body {
    width: 700px;
    font-weight: normal;
    font-size: 15px;
    /*color: #000000;*/
}

h4.class_titulo_querys {
    color: #07A84C;
    font-weight: bold;
    font-size: 22px;
}
.class_h4 {
    width: 80%;
    margin: auto;
}

.div_cerrado {
    width: 80%;
    margin: auto;
    display: none;
    border: 0px solid #000;
}

.div_abierto {
    width: 80%;
    margin: auto;
    display: block;
    border: 1px solid #000;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
#header {
    width:100%; /* Establecemos que el header abarque el 100% del documento */
    overflow:hidden; /* Eliminamos errores de float */
    background:#07A84C;
    margin-bottom:20px;
    border-bottom: 0px solid #000;
}

.wrapper {
    width:90%; /* Establecemos que el ancho sera del 90% */
    max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
    margin:auto; /* Centramos los elementos */
    overflow:hidden; /* Eliminamos errores de float */
}

#header .logo {
    color:#ffffff;
    font-size:50px;
    line-height:80px;
    float:left;
}

#header nav {
    float:right;
    line-height:150px;
}

#header nav a {
    display:inline-block;
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    line-height:normal;
    font-size:20px;
    font-weight:bold;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}

#header nav a:hover {
    background:#f56f3a;
    border-radius:50px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /*opacity: .7;*/
    background-color: #212934;
    color: white;
    text-align: center;
}        

#mapid { 
    text-align: center; 
    width: 80%; 
    height: 500px; 
    display: inline-block; 
    border: 1px solid #000; 
}

#contenedor_coordenadas {     
    display: block;
    position: relative;
    margin: 10px auto;
    width: 95%;
    padding: 3px;
    border: none;
    border-radius: 7px;
    font-size: 15px;
    font-family: Courier New;
    text-align: center;
    color: #000;
    background: #D6EAF8;
    background: #E6F7ED;
}
.div_contenedor_formulario_capas {
    width: 30%;
    float: left;
    border: 1px solid #000000;
}
.div_contenedor_contenedor_coordenadas {
    width: 30%;
    border: 1px solid #ff0000;
}

.center {
    width: 100%;
    text-align: center;
    border: 0px solid #07A84C;

}
.span_data {
    font-weight: bold;
}
.div_content_landcover {
    min-height: 260px;
    border: 0px dashed #000;
}
.div_content_irrigation {
    min-height: 260px;
    border: 0px dashed #000;
}
.span_piechart {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width:300px;
    border: 0px solid #000;
}
.span_piechart_landcover {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width: 300px;
    border: 0px solid #000;
}
.span_piechart_irrigation {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    max-width: 300px;
    border: 0px solid #000;
}
.span_piechart_legend_color {
    display: inline-block;
    width: 35px;
    height: 16px;
}
.span_piechart_legend_name {
    display: inline-block;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
    width: 160px;
    font-size: 11px;
}
.div_legend {
    width: 300px;
    min-height: 80px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 0px dashed #ff0000;
}
.div_legend_main_farmer {
    width: 600px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 0px dashed #ff0000;
}
#span_data_id_code {
    display: inline-block;
    padding-right: 10px;
    width: 180px;
    border: 0px solid #000000;
}
#span_data_id_key {
    display: inline-block;
    width: 80px;
    padding-right: 10px;
    border: 0px solid #000000;
}
#span_data_id_surface {
    display: inline-block;
    width: 140px;
    border: 0px solid #000000;
}
#span_data_id_refparcel {
    display: inline-block;
    width: 350px;
    border: 0px solid #000000;
}
#span_data_id_fckey {
    display: inline-block;
    width: 100px;
    padding-right: 10px;
    border: 0px solid #000000;
}
#span_data_id_fcsurface {
    display: inline-block;
    width: 140px;
    padding-right: 10px;
    border: 0px solid #000000;
}
#span_data_id_fccropproduct {
    display: inline-block;
    width: 320px;
    padding-right: 10px;
    border: 0px solid #000000;
}


div.div_fila_ab {
    text-align: left;
    border-bottom: 1px solid #FF0000;
}

div.div_fila_rp {
    text-align: left;
    border-bottom: 1px solid #FF00FF;
}

div.div_fila_fc {
    text-align: left;
    border-bottom: 1px solid #07A84C;
}

span.tootltip_fc_code {
    display: inline-block;
    width: 70px;
    text-align: left;
    border: 0px solid #000;
}

span.tootltip_fc_value {
    display: inline-block;
    width: 100px;
    text-align: left;
    border: 0px solid #000;
}

div.span_contenedor_querys {
    width: 800px;
    margin: auto;
    border: 1px solid #fff; 
}
div.span_table_querys_farmer {
    width: 40%;
    min-width: 400px;
    min-height: 900px;
    text-align: center;
    padding-bottom: 15px;
    border: 1px solid #DFAD6B;
    border-right: 0px;
}
div.span_table_querys_total {
    width: 40%;
    min-width: 400px;
    min-height: 900px;
    text-align: center;
    float: right;
    padding-bottom: 15px;
    border: 1px solid #DFAD6B;
}

.separator {
    width: 15px;
}
span.separator {
    display: inline-block;
    width: 15px;
}
.separator_large {
    width: 45px;
}
.mapboxgl-popup-content {
    width: 210px;
}
/* change background and tip color to green */
.ab_popup .mapboxgl-popup-tip {
    width: 200px;
}
.ab_popup .mapboxgl-popup-content {
    width: 200px;
}
.apple-popup .mapboxgl-popup-tip {
    width: 200px;
    background-color: green;
}
.apple-popup .mapboxgl-popup-tip {
    border-top-color: green;
}
a.class_mostrar_ab {
    background-color: #FF0000
}
a.class_mostrar_rp {
    background-color: #FF00FF
}
a.class_mostrar_fc {
    background-color: #00FF80
}