table  {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #07A84C;
}
table th {
    text-align: center;
    background-color: #BCF9D6;
    border: 1px solid #07A84C;
}
table tr {
    background-color: #E6F7ED;
    border: 1px solid #07A84C;
}
table td {
    border: 1px solid #07A84C;
}

.table-toast {
    width: 700px;
}

.table_content_summary_preview {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BCF9D6;
}

.table_content_summary_preview_activities {
    text-align: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BCF9D6;
}

.table_contenedor_summary_preview {
    text-align: center;
    background-color: #FFFFFF;
    border: 0px solid #07A84C;
}
.table_contenedor_summary_preview tr {
    text-align: center;
    background-color: #FFFFFF;
    border: 0px solid #07A84C;
}
.table_contenedor_summary_preview th {
    text-align: center;
    background-color: #FFFFFF;
    border: 0px solid #07A84C;
}
.table_contenedor_summary_preview td {
    vertical-align: top;
    text-align: center;
    background-color: #FFFFFF;
    border: 0px solid #07A84C;
}


.table_summary_preview {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #07A84C;
}
.table_summary_preview th {
    text-align: center;
    background-color: #BCF9D6;
    border: 1px solid #07A84C;
}
.table_summary_preview tr {
    background-color: #E6F7ED;
    border: 1px solid #07A84C;
}
.table_summary_preview tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary_preview tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary_preview tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview td {
    border: 1px solid #07A84C;
}

.table_summary_preview_crops {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4472C4;
}
.table_summary_preview_crops th {
    text-align: center;
    background-color: #BCF9D6;
    border: 1px solid #4472C4;
}
.table_summary_preview_crops tr {
    background-color: #E6F7ED;
    border: 1px solid #4472C4;
}
.table_summary_preview_crops tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary_preview_crops tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary_preview_crops tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_crops tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_crops tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_crops td {
    border: 1px solid #4472C4;
}

.table_summary_preview_activities {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DA9C4B;
}
.table_summary_preview_activities th {
    text-align: center;
    background-color: #E9CAA2;
    border: 1px solid #DA9C4B;
}
.table_summary_preview_activities tr {
    background-color: #DFAD6B;
    border: 1px solid #DA9C4B;
}
.table_summary_preview_activities tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary_preview_activities tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary_preview_activities tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_activities tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_activities tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_activities td {
    border: 1px solid #DA9C4B;
}


.table_summary_preview_querys {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #07A84C;
}
.table_summary_preview_querys th {
    text-align: center;
    background-color: #BCF9D6;
    border: 1px solid #07A84C;
}
.table_summary_preview_querys tr {
    background-color: #E6F7ED;
    border: 1px solid #07A84C;
}
.table_summary_preview_querys tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary_preview_querys tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary_preview_querys tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys td {
    border: 1px solid #07A84C;
}
.table_summary_preview_querys td.data {
    text-align: right;
    padding-right: 7px;
}


.table_summary_preview_querys_total {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #4472C4;
}
.table_summary_preview_querys_total th {
    text-align: center;
    background-color: #E6F7ED;
    border: 1px solid #4472C4;
}
.table_summary_preview_querys_total tr {
    background-color: #E6F7ED;
    border: 1px solid #4472C4;
}
.table_summary_preview_querys_total tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary_preview_querys_total tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary_preview_querys_total tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys_total tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys_total tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys_total td {
    border: 1px solid #4472C4;
}
.table_summary_preview_querys_total td.data {
    text-align: right;
    padding-right: 7px;
}

.table_summary_preview_querys_global {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #DFAD6B;
}
.table_summary_preview_querys_global th {
    text-align: center;
    background-color: #ECDBBD;
    border: 1px solid #DFAD6B;
}
.table_summary_preview_querys_global tr {
    background-color: #F8F2DA;
    border: 1px solid #DFAD6B;
}
.table_summary_preview_querys_global tr.table_summary_odd {
    background-color: #F8F2DA;            
}
.table_summary_preview_querys_global tr.table_summary_even {
    background-color: #F8F2DA;            
}
.table_summary_preview_querys_global tr.table_summary_odd_refplot {
    background-color: #F8F2DA;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys_global tr.table_summary_even_refplot {
    background-color: #F8F2DA;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys_global tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_querys_global td {
    border: 1px solid #DFAD6B;
}
.table_summary_preview_querys_global td.data {
    text-align: right;
    padding-right: 7px;
}


.table_summary_preview_layers {
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #BCF9D6;
}
.table_summary_preview_layers th {
    background-color: #BCF9D6;
    border: 1px solid #07A84C;
}
.table_summary_preview_layers tr {
    background-color: #E6F7ED;
    border: 1px solid #07A84C;
}
.table_summary_preview_layers tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary_preview_layers tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary_preview_layers tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_layers tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_layers tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary_preview_layers td {
    border: 1px solid #07A84C;
}


.table_summary {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #07A84C;
}
.table_summary th {
    text-align: center;
    background-color: #BCF9D6;
    border: 1px solid #07A84C;
}
.table_summary tr {
    background-color: #E6F7ED;
    border: 1px solid #07A84C;
}
.table_summary tr.table_summary_odd {
    background-color: #ffffff;            
}
.table_summary tr.table_summary_even {
    background-color: #eeeeee;            
}
.table_summary tr.table_summary_odd_refplot {
    background-color: #ffffff;            
    font-style: italic;
    font-size: 13px;
}
.table_summary tr.table_summary_even_refplot {
    background-color: #eeeeee;            
    font-style: italic;
    font-size: 13px;
}
.table_summary tr.table_summary_refplot {
    font-style: italic;
    font-size: 13px;
}
.table_summary td {
    border: 1px solid #07A84C;
}

.table_tooltip  {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #ffffff;
}
.table_tooltip th {
    text-align: center;
    background-color: #ffffff;
    border: 0px solid #ffffff;
}
.table_tooltip tr {
    background-color: #ffffff;
    border: 0px solid #ffffff;
}
.table_tooltip td {
    text-align: left;
    border-bottom: 1px solid #07A84C;
}

table.table_tooltip_fc  {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid #ffffff;
}
table.table_tooltip_fc th {
    text-align: center;
    background-color: #ffffff;
    border: 0px solid #ffffff;
}
table.table_tooltip_fc tr {
    background-color: #ffffff;
    border: 0px solid #ffffff;
}
table.table_tooltip_fc td {
    text-align: left;
    border-bottom: 1px solid #07A84C;
}            
